fastapi
uvicorn[standard]
python-dotenv
google-adk
selenium
webdriver-manager
markdownify
requests
google-generativeai
# google-generativeai
# websockets
# aiohttp
# google-cloud-aiplatform
sqlalchemy-sqlitecloud 